*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url("../img/italo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 30px;
}

#intero, #scontato, #totale{
  font-size: 40px;
  transition: 1s;
}

#intero:hover, #scontato:hover, #totale:hover{
  transform: scale(2);
}
